body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: helvetica, arial;
	background: #ECF6FF;
	color: #111;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
}

button:active, button:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

.main {
	background-color: white;
	vertical-align: middle;
	text-align: center;
	border-radius: 50px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}

.mainId {
	background-color: white;
	vertical-align: middle;
	text-align: center;
	border-radius: 50px;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 450px;
}
.mainId2 {
	background-color: white;
	vertical-align: middle;
	text-align: center;
	border-radius: 50px;
	min-height: 100px;
}

.mainShadow {
	margin: 10px 40px;
	background-color: white;
	vertical-align: middle;
	text-align: center;
	border-radius: 50px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2);
	min-height: 150px;
}

.mainShadow2 {
	background-color: white;
	vertical-align: middle;
	text-align: center;
	border-radius: 50px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.2);
	min-height: 100px;
}
#main3 {
	background-color: white;
	vertical-align: middle;
	border-radius: 50px;
	margin: 10px;
	padding: 10px 30px;
}

.quiz-frame {
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.quiz__head {
	font-size: 20pt;
	margin: 10px;
	margin-bottom: 50px;
}

.head__content {
	padding: 8px;
}

.quiz__footer {
}

.footer__content {
	padding: 5px;
}

.buttons_contents {
	padding: 0px 50px;
}

.button {
	border: 0;
	border-radius: 10px;
	background: #6477EB;
	color: #fff;
	padding: 10px 25px;
	width: 70%;
	font-size: 13pt;
	display: block;
	margin: 2px auto;
	cursor: pointer;
}

.just {
}

.buttonR {
	margin-top: 25%;
	border: 0;
	border-radius: 10px;
	background: #6477EB;
	color: #fff;
	width: 70%;
	font-size: 13pt;
	display: block;
	vertical-align: middle;
	cursor: pointer;
	padding: 10px 30px;
	display: flex;
	justify-content: center;
}

.button_wrong {
	background: #EB6465;
}

.button_correct {
	background: #5EB97D;
}

.button_passive {
	background: #B3B3B3;
}

* {
	box-sizing: border-box;
}

.container {
	min-width: 320px;
	max-width: 1140px;
}

.quiz-frame {
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	margin-left: 20px;
	margin-right: 20px;
}

.item_1 {
	display: inline-block;
	float: left;
}

.item_2 {
}

* {
	box-sizing: border-box;
}

.quiz-button {
	padding: 10px 30px 10px 30px;
	border: none;
	border-radius: 50px;
	background-color: #6477EB;
	color: #fff;
	cursor: pointer;
}

.logoImg {
	width: 30%;
}

.mainHeader {
	background-color: white;
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	left: 50%;
	margin-bottom: 30px;
}

.nameOfTest {
	font-size: 25px;
	margin: 10px;
	margin-bottom: 50px;
	font-weight: 800;
}

.descOfTets {
	font-size: 18px;
	margin: 10px;
	margin-bottom: 50px;
	font-weight: 600;
}

.progress-title2 {
	margin-top: 8%;
	font-size: 18px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.progress-title3 {
	font-size: 17px;
	font-weight: 400;
	color: #333;
	margin: 0;
	height: 100%;
}

.namesWrap {
	margin-top: 18px;
}

#info {
	width: 65%;
	height: 70%;
	position: absolute;
	background-color: #fff;
	z-index: 9999;
	border-radius: 50px;
	top: 15%;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.6);
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

#info {
	transform: translateX(180%);
	transition: transform .5s;
}

#info.active {
	transform: translateX(29%);
	transition: transform .5s;
}

.infoInner {
	padding: 30px;
}

.infoButton {
	border: none;
	border-radius: 10px;
	background: #6477EB;
	color: #fff;
	width: 50%;
}
#infoClose{
	border: none;
	background: red;
	color: #fff;
	border-radius: 30px;
	position: absolute;
	bottom: 91%;
	left: 90%;
}
.infoIcon{
	margin-right: 75%;
}
.inTestImg{
	width: 70%;
}
.quiz__body{
	margin: auto;
	width: 60%;
}

#desc_title2{
	text-align: justify;
}
.assist{
	
	background-color: white;
	vertical-align: middle;
	text-align: center;
	border-radius: 80px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.buttonRB{
	border: 0;
	border-radius: 10px;
	background: #6477EB;
	color: #fff;
	font-size: 13pt;
	cursor: pointer;
	padding: 10px 30px;
}
#instruction{
	width: 40%;
	height: 80%;
	position: absolute;
	background-color: #fff;
	z-index: 9999;
	border-radius: 50px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.6);
	transform: translateY(130%);
	transition: transform .5s;
	top: 12%;
}
#instruction.active{
	transform: translateY(10%);
	transition: transform .5s;
}
.instructionInner{
	padding: 30px;
}
#processing{
	width: 600px;
	height: 600px;
	position: absolute;
	background-color: #fff;
	z-index: 9999;
	border-radius: 50px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.6);
	transform: translateY(130%);
	transition: transform .5s;
	right: 0;
	top: 12%;
	overflow-y: scroll;
	padding-bottom: 20px;
}
#processing.active{
	transform: translateY(10%);
	transition: transform .5s;
}
#processClose{
	border: none;
	background: red;
	color: #fff;
	border-radius: 30px;
	position: absolute;
	bottom: 91%;
	left: 90%;
}
::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.nameBlock{
		padding-top: 30px;
	}
	.headerIconText{
		margin: 0;
	}
	.mainShadow{
		margin: 5% 15%;
		padding-top:2%;
		padding-bottom: 5%;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.col-md-4{
		margin-left: auto;
		margin-right: auto;
	}
	.buttonR.launchTest{
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
		width: 70%;
	}
	.buttonR.infoButton{
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
		width: 70%;
	}
	.mainId{
		min-height: 500px;
		width: 95%;
		margin-left: auto;
		margin-right: auto;

	}
	#info{
		width: 95%;
		height: 90%;
	}
	#info.active {
		transform: translateX(2%);
		transition: transform .5s;
	}
	.hideIn320{
		display: none;
	}
	.assist{
		margin-top: 10px;
	}
	#infoClose{
		left: 85%;
	}
	#instruction{
		width: 95%;
		height: 90%;
	}
}
/* Portrait phones and smaller */
@media (min-width: 320px) and (max-width: 767px){
	.nameBlock{
		padding-top: 30px;
	}
	.headerIconText{
		margin: 0;
	}
	.mainShadow{
		margin: 5% 15%;
		padding-top:2%;
		padding-bottom: 5%;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.col-md-4{
		margin-left: auto;
		margin-right: auto;
	}
	.buttonR.launchTest{
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
		width: 70%;
	}
	.buttonR.infoButton{
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
		width: 70%;
	}
	.mainId{
		min-height: 500px;
		width: 95%;
		margin-left: auto;
		margin-right: auto;

	}
	#info{
		width: 95%;
		height: 90%;
	}
	#info.active {
		transform: translateX(2%);
		transition: transform .5s;
	}
	.hideIn320{
		display: none;
	}
	.assist{
		margin-top: 10px;
	}
	#infoClose{
		left: 85%;
	}
	#instruction,#processing{
		width: 98%;
		height: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	#processClose{
		left: 85%;
	}
	#processing.active, #instruction.active{
		transform: translateX(1%);
		transition: transform .5s;
	}
}
